* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; /* Минимальная высота на весь экран */
    margin: 0;
    display: flex; /* Используем флексбокс */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    /* Отступы по краям для мобильных устройств */
    padding: 20px;
    /* background-color: #FFCF48; */
    background: -webkit-linear-gradient(135deg, rgb(120, 189, 174) 7%, rgb(172, 208, 55), rgb(208, 231, 76));
    background: -moz-linear-gradient(135deg, rgb(120, 189, 174) 7%, rgb(172, 208, 55), rgb(208, 231, 76));
    background: linear-gradient(135deg, rgb(120, 189, 174) 7%, rgb(172, 208, 55), rgb(208, 231, 76));
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 20px;
    border: 3px solid #ff7d7d;
      /* Поддержка различных браузеров */
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      
      /* Плавное изменение размеров */
      transition: padding 0.3s ease;
}

/* Медиа-запросы для разных размеров экрана */
@media (max-width: 768px) {
    .wrapper {
        padding: 15px;
    }
    .buttons-container{
        flex-direction: column;
    }
    .settings{
        font-size: 16px;
    }
    .timer{
        font-size: 30px;
    }   
    .start-btn{
        padding: 5px 10px;
    }
    .stop-btn{
        padding: 5px 10px;
    }
    .reset-btn{
        padding: 5px 10px;
    }   
    input[type="number"]{
        width: 50px;
    }  
    .progress-bar-container {
        width: 80%; /* На мобильных будет занимать 80% ширины экрана */
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 10px;
    }
    .buttons-container{
        flex-direction: column;
    }
    .settings{
        font-size: 16px;
    }
    .timer{
        font-size: 30px;
    }   
    .start-btn{
        padding: 5px 10px;
    }
    .stop-btn{
        padding: 5px 10px;
    }
    .reset-btn{
        padding: 5px 10px;
    }   
    input[type="number"]{
        width: 50px;
    }    
    .progress-bar-container {
        width: 80%; 
    }   
}

.container {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.timer-container {
    margin-bottom: 20px;
    font-size: 150px;
    font-weight: bold;
    color: #000000;
    
}


.timer {
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

.progress-bar-container {
    width: 400px;
    background-color: rgb(172, 208, 55);
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin: 20px auto;
    margin-top: 20px;
}

.progress-bar {  
    height: 100%;
    width: 0;
    background-color: red;
    transition: width 0.5s ease;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.start-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #000000;
    transition: background-color 0.3s ease;
    -webkit-box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31); 
    -moz-box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31); 
    box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31);
}
.stop-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #D9534F;
    color: #000000;
    transition: background-color 0.3s ease;
    -webkit-box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31); 
    -moz-box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31); 
    box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31);
}
.reset-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #A9A9A9;
    color: #000000;
    transition: background-color 0.3s ease;
    -webkit-box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31); 
    -moz-box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31); 
    box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.31);

}

.start-btn:hover {
    background-color: #19f015;

}
.stop-btn:hover {
    background-color: #d11313;

}
.reset-btn:hover {
    background-color: #2b9777;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

input[type="number"] {
    width: 65px;
    background-color: #c7d5c2;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

